.layout {
  display: flex;
  min-height: 100vh;
}

.main-area {
  margin-left: var(--sidebar-width);
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-app);
}

.content-area {
  padding: var(--page-padding);
  flex: 1;
}
